html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;
}
#pano {
    width: 100%;
    height: 80%;
    float: left;
    position: relative;
}

#navigation {
    width: 500px;
    height: 20%;
    position: absolute;
    bottom: 0px;
    left: 30%;
}

.nav_button {
    position: absolute;
}

#left_button {
}

#right_button {
    right: 0px;
}

#reverse_button {
    left: 40%;
}

#faster_button {
    left: 20%;
    top: 50%;
}

#slower_button {
    left: 60%;
    top: 50%;
}

.nav_label {
    position: absolute;
    font-size: 20px;
}

#left_label {
    width: 150px;
    height: 40px;
}

#right_label {
    right: 0px;
    width: 150px;
    height: 40px;
    text-align: right;
}

#reverse_label {
    left: 35%;
    width: 150px;
    height: 40px;
    text-align: center;
}
